body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenido-principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 200px 300px;
    width: 1300px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 20px;
}

.contenido-texto {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-parraf {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.title-parraf h1 {
    font-size: 45px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
}

.title-parraf h1 span {
    color: hsl(277, 64%, 61%);
}

.title-parraf p {
    margin: 0 30px;
    text-align: start;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
}

.utilities {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    gap: 50px;
    font-size: 30px;
    font-weight: 600;
}

.text-utilities {
    margin: 0;
    padding: 0;
    line-height: .4;
    align-items: baseline;
    font-family: Inter;
}

.query {
    text-transform: uppercase;
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 50;
}

/* Img */
.img-content {
    width: 100%;
    border-radius: 0 20px 20px 0;
    filter: invert(20%) sepia(84%) saturate(581%) hue-rotate(234deg) brightness(90%) contrast(89%);
}